body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 0 24px;
}

a {
    text-decoration: none;
    color: #3E4240;
}

p {
    font-size: 18px;
}


.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.introduction {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.greatAidTitle {
    font-size: 32px;
    font-weight: bold;
}

.introImg {
    border-radius: 20px;
    border: 3px solid #8C52FF;
}

.introText {
    display: flex;
    flex-direction: column;
}

.signUpIntro {
    font-size: 22px;
    padding: 14px;
    background-color: #8C52FF;
    color: white;
    max-width: 80px;
    border-radius: 12px;
}

.information {
    background-color: #8C52FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: white;
    
}

.infoTitle {
    font-size: 32px;
    font-weight: bold;
}

.infoPics {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-content: center;
    justify-content:space-evenly;
    font-size: 24px;

}

div.eachInfoPic img {
    border-radius: 20px;
    height: 250px;
    width: auto;
    border: 3px solid white;
}

.eachInfoPic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.quote {
    background-color: #CAB0FF;
}

.signupContainer {
    background-color: #CAB0FF;
}

.footer {
    background-color: #8C52FF;
}

.introduction, .information, .quote, .signupContainer {
    padding: 48px;
}